body {
    background: #dce7dc;
}
aside {
    float: top;
    background: #0f4e75;
    width: 100%;
    padding: 2.5%;
    height: 20vh;
    border: 5px solid #e08e8e;
}

aside ul li{
    float: left;
    color: white;
    display: block;
    margin: 20px;
}