{% extends 'botArena/base.html' %}
{% load static %}

{% block title %}
    Домашняя страница
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{%static 'botArena/css/home.css'%}">
    <link rel="stylesheet" href="{%static 'botArena/css/home.css'%}">
    <script src="/static/botArena/js/home.js"></script>
{% endblock %}

{% block content %}
    {% if game_list %}
        <ul id="game_list">
            {% for game in game_list %}
                <li><a class="myLinkModal" href="#">{{ game.name }}</a></li>

                <div id="myModal">

                      <p> {{ game.description }} <br> Best score : {{ game.leader_score }} by {{ game.leader }}</p>
                    <a href="{% url 'botArena:game' game.name %}"> Play </a>
                    <a></a>
                        <span id="myModal__close" class="close">ₓ</span>
                </div>
                <div id="myOverlay"></div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No games are available</p>
    {% endif %}
{% endblock %}

{% block nav %}
    {% if request.user.is_staff %}
        <a href="{% url 'botArena:new_game' %}"><b> Load game </b></a>
    {% elif request.user.is_authenticated %}

    {% else %}
       <a href="{% url 'botArena:login' %}">  Login  </a>
    {% endif %}

{% endblock %}
