{% extends 'botArena/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{%static 'botArena/css/new_bot.css'%}">
    <script src="/static/botArena/js/new_bot.js"></script>
{% endblock %}

{% block content%}
    <div>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="file-input">
            <input type="submit" value="Upload" id="submit">
            </form>
    </div>
  {% if error_message %}<p><strong>{{ error_message }}</strong></p> {% endif %}

{% endblock %}

