{% extends 'botArena/base.html' %}
{% load static %}
{% block title %}
    Password reset
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{%static 'botArena/css/home.css'%}">
    <script src="/static/botArena/js/home.js"></script>
{% endblock %}

{% block content %}
<h3>Trouble Signing In?<br></h3>
        <div style="margin-top: 20px; margin-bottom: 20px">

    <span>Request a password reset, and we will have you up again.</span>
            </div>

    <div style="margin-top: 10px; margin-bottom: 10px">
<form method='post'>
    {%csrf_token%}
    {{form}}
    <input type="submit" value="forgotten password" class="submit-btn">
</form>
    </div>

<small class="text-muted">
    Try signing in again? <a class="ml-2" href="{% url 'botArena:home' %}">Return to Home page</a>
</small>

{% endblock %}
