/*body {*/
/*	margin: 0;*/
/*}*/

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 10em;
}

/*ul li {*/
/*	position: relative;*/
/*}*/

ul li a {
	display: block;
	padding: 1em;
}

ul li a + div {
	background: #7fd6ec;
	clip: rect(0 0 0 0);
	position: absolute;
	left: 100%;
	bottom: -130%;
	width: 320px;
}

li.active div {
	clip: auto;
}

.play {
    background-color: #d8effc;
    color: #0095ff;
    font-size: 16px;

}

/* Модальный (фон) */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Сидеть на вершине */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полный рост */
  overflow: auto; /* Включите прокрутку, если это необходимо */
  background-color: rgb(0,0,0); /* Цвет запасной вариант */
  background-color: rgba(0,0,0,0.6); /* Черный с непрозрачностью */
  padding-top: 60px;
}

/* Модальное Содержание/коробка */
.modal-content {
    background-color: #f1d2ff;
  margin: 5px auto; /* 15% сверху и по центру */
  border: 1px solid #888;
  width: 350px; /* Может быть больше или меньше, в зависимости от размера экрана */
    right: 10em;
    border-radius: 5%;
}

/* Кнопка закрытия */
.close {
  /* Расположите его в правом верхнем углу за пределами модели */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Кнопка закрытия при наведении курсора мыши */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Добавить анимация масштабирования */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

span{
    color: #ff0000;
}


#register {
    background-color: #83f1ed;
      margin: 5px auto; /* 15% сверху и по центру */
  border: 1px solid #888;
  width: 350px; /* Может быть больше или меньше, в зависимости от размера экрана */
    right: 10em;
    border-radius: 5%;
    height: 360px;

}

#login-form{
    width: 350px;
}

button {
    position: relative;
    width: 100%;
}


input {
    width: 300px;
    margin-bottom: 20px;
    position: relative;
    left: 1em;
}

h1{
    margin-top: 0.5em;
    position: relative;
    left: 10px;
    text-align: center;
        text-shadow:

		 0    4px 0   #FFFFFF,
		 4px  0   0   #FFFFFF,
		 1px  4px 0   #FFFFFF,
		 4px  1px 0   #FFFFFF,
		 2px  4px 0   #FFFFFF,
		 4px  2px 0   #FFFFFF,
		 3px  4px 0   #FFFFFF,
		 4px  3px 0   #FFFFFF,
		 4px  4px 0   #FFFFFF,
		 4px  4px 0   #FFFFFF;

}

.text-error {
    position: relative;
    left: 1em;
}

.games_list {
    position: relative;
    text-align: center;
}

.game_name {
    color: #c300cb;
    font-size: 18px;
    text-shadow:
		 0    4px 0   #FFFFFF,
		 4px  0   0   #FFFFFF,
		 1px  4px 0   #FFFFFF,
		 4px  1px 0   #FFFFFF,
		 2px  4px 0   #FFFFFF,
		 4px  2px 0   #FFFFFF,
		 3px  4px 0   #FFFFFF,
		 4px  3px 0   #FFFFFF,
		 4px  4px 0   #FFFFFF,
		 4px  4px 0   #FFFFFF;
}

.forgot {
    position: relative;
    width: auto;
    left: -0.25em;
    margin-top: 20px;
}
