<!DOCTYPE html>
<html lang="en">
<head>
    <h1>{{ game.name }}</h1>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="button" onclick="history.back();" value="Назад"/>
<li> <a href="{% url 'botArena:home'  %}">{{ "Home"}}</a></li>
<li> <a href="{% url 'botArena:logout'  %}">{{ "Exit"}}</a></li>
<strong> Страница для игры </strong>
<li> {{game}} </li>
<li> Я буду передавать сюда объект game, параметры смотри в models.Game</li>
<li><a href="{% url 'botArena:new_bot' game.name  %}">{{"Новый бот"}}</a></li>
<li> Сможешь сам отсортировать по баллам </li>
{% if game %}
    <ul>
    {% for bot in game.bot_set.all  %}
        <li>{{ bot.creator_name }}  Cчет {{ bot.result }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bots are avaible.</p>
{% endif %}
</body>
</html>