<strong>Это мое первое использование шаблонов, поэтому я все вывел</strong>
<strong>Но в целом поле по поводу выбора игры и по заполнению имени создателя не имеют смысла, тк я их переписываю при отправке</strong>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<li><a href="{% url 'botArena:home'  %}">{{ "Home"}}</a></li>
<li><a href="{% url 'botArena:logout'  %}">{{ "Exit"}}</a></li>
<li>Должен быть не Home а Back, но мне пока лень, потому сделаю, кнопку можешь сделать нормальную, я просто ссылку поменяю</li>