{% extends 'botArena/base.html' %}
{%load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'botArena/css/login.css' %}">
{% endblock %}

{% block content %}

<div class="login">
  <h1>Регистрация</h1>
    <form method="post">
      <input type="text" name="u" placeholder="Логин" required="required" />
        <input type="password" name="p" placeholder="Пароль" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large"> Зарегистрироваться </button>
    </form>
</div>

{% endblock %}